/**************************************
 TITLE: triggered.css					
 AUTHOR: Luxi Liao	(LL)	
 PURPOSE: to stylize the triggered.html
 CREATE DATE: 10 November 2021
 LAST MODIFIED ON: 10 November 2021
 LAST MODIFIED BY: Luxi Liao (LL)	
 MODIFICATION HISTORY:
 10 November 2021 - Added basic format
    give page a basic look. (LL)	
 10 November 2021 - Attempting to add symbols to output area. (LL)	
***************************************/

/*applied style for whole webpage*/
body {
    /*megical transparent background*/
    background-color: rgba(0, 30, 56, 255);
    background-blend-mode: lighten;
    /*centralize*/
    align-items: center;
}
span {
    width: min-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    text-align: center;
    padding: 5%;
    margin: 5%;
}

input {
    border-radius: 5px;
    width: 99%;
}

#block {
    margin: 0 auto; 
    width: 75%; 
    border-radius: 5px; 
    border-style: dashed; 
    border-color: blueviolet;
}

/*adding aesthetical style to the line inside box-container*/
hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; 
}
/*emulate apperance of a windows on webpage*/
#box-container {
    /*magical transparent background image*/
    background-image: url(./hello-world.png);
    background-color: rgba(0, 30, 56, 255);
    background-blend-mode: lighten;
    background-size: 100%; 
    background-repeat: no-repeat;

    /*beautify window*/
    margin: 0 auto; 
    margin-top: 30px;
    width: 60%; 
    border-radius: 5px; 
    border-style: dashed; 
    border-color: #228265;
}

/*title and subtitle font in the pseudo-window*/
.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #108f78;
    text-align: center;
    font-size: 64px;
    padding: 5%;
    margin: 5%;
}
.subtitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #88b3f7;
    text-align:center;
    padding:5%
}


/*style for event area*/
#scroll{
    margin: 0 auto; 
    margin-top: 20px;
    padding: 10px;
    width: 60%; 
}
#keyboard {
    /*megical transparent background image*/
    background-color: rgba(0, 30, 56, 255);
    background-blend-mode: lighten;
    background-size: 100%; 
    background-repeat: no-repeat;

    /*beautify window*/
    margin: 0 auto; 
    margin-top: 20px;
    padding: 10px;
    width: 60%; 
    border-radius: 5px; 
    border-style: solid; 
    border-color: #228265;
}

/*style for mouse event area*/
#mouse button{
    width: max-content;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    padding:10px 20px ;

    background-size: 100%;
    background-color: rgba(244, 236, 9, 0.975);
    background-blend-mode: lighten;
    
    color: #373737;/*font color*/
}

#windowHeight {
    text-align: center;
    color: #ccc;
    font-family: 'Courier New', Courier, monospace;
}
#windowWidth {
    float: right;
    margin-top: 25%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #ccc;
}

#sizeIndicate {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #88b3f7;
    font-size: small;
    text-align: center;
}