/**************************************
 TITLE: coursePageStylesheet.css					
 AUTHOR: Luxi Liao	(LL)	
 PURPOSE: to display a custom course page
 ORIGINALLY CREATED ON: 21 August 2021
 LAST MODIFIED ON: 26 August 2021
 LAST MODIFIED BY: Luxi Liao (LL)	
 MODIFICATION HISTORY:
 21 August 2021 - Added basic format
    to make page looks like the demo page. (LL)	
 23 August 2021 - Redefining some properties to refine details, addign optimization for different display sizes
    to add personal style and fix unproper displayed portions. (LL)	
 24 August 2021 - Refining the effect of background images, and Debugging for terminal mistakes
    to make page work more effectively and without bugs. (LL)	
 26 August 2021 - Adding Link Effects
    to make Hover effect better. (LL)	
***************************************/

body{
    background-image: url(hello-world.png);
    background-size: 100%; 
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: lighten;
    align-items: center;
}
hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; 
}

#box-container{
    margin: 0 auto; 
    margin-top: 30px;
    width: 60%; 
    border-radius: 5px; 
    border-style: dashed; 
    border-color: #228265;
}

.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #79aff7;
    text-align:center;
    font-size: 64px;
}
.subtitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #88b3f7;
    text-align:center;
}

