/**************************************
 TITLE: formPrototype.css				
 AUTHOR: Luxi Liao	(LL)	
 PURPOSE: to define style of the formPrototype.html
 ORIGINALLY CREATED ON: 19 November 2021
 LAST MODIFIED ON: 19 November 2021
 LAST MODIFIED BY: Luxi Liao (LL)	
 MODIFICATION HISTORY:
 No modifications
***************************************/

body {
	background-color: rgb(121, 255, 181);
}

#infoForm {
    width: 85%;
    height: auto;
	margin: 0 auto;
    overflow: hidden;

	box-shadow: 0 2px 15px #EEE;
	min-height: 300px;
	padding: 15px;
	border-radius: 10px;
	background-color: white;
}