body{
	/**Color Scheme*/
	--color-primary: rgb(104, 226, 161);
	--color-primary-transparent: rgba(104, 226, 161, 0.468);
	--color-primary-dark: rgb(92, 196, 139);
	--color-secondary:rgb(61, 210, 182);
	--color-success: rgb(139, 235, 143);
	--color-error: rgb(240, 128, 135);

	--border-radius: 7px;
}

/*top1: title*/
.formTitle{
	text-align: center;
}
/**
* username and password input feild
*/
.formInputGroup{
	margin: 1rem auto;
}
.formInput{
	display: block;
	width: 100%;
	padding: 0.75rem;
	box-sizing: border-box;
	border-radius: var(--border-radius);
	border: 1px solid #dddddd;
	background: #eeeeee;
	transition: background 300ms;
}
.formInput:hover{
	background-color: #f7f7f7;
}
.formInput:focus{
	border-color: var(--color-primary);
	background: #ffffff;
}
/**
button in the form
*/
.formButton{
	width: 100%;
	padding: 1rem 2rem;
	font-weight: 500;
	font-size: 1.1rem;
	color: #ffffff;
	background-color: var(--color-primary);
	border: none;
	border-radius: var(--border-radius);
}
.formButton:hover{
	background-color: var(--color-primary-dark);
	box-shadow: 0 2px 15px rgb(228, 228, 228);
	cursor: pointer;
	transition: background 300ms;
}
.formButton:active{
	transform: scale(0.98);
}
.formButton[disabled],
.formButton[disabled]:hover,
.formButton[disabled]:active{
	background-color: darkgray;
}

/**
* for the links, TODO used in the register form 
*/
.formText{
	text-align: center;
}
.formLink{
	text-decoration: none;
	color: var(--color-secondary);
	cursor: pointer;
}
.formLink:hover{
	text-decoration: underline;
	transition: background 300ms;
}

.formInput,
.formButton{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 500;
	font-size:1rem;
}
.formMessage{
	text-align: center;
	margin-bottom: 1rem;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/**
* error and sccuess, TODO also used on the register
*/
.error{
	color: var(--color-error);
	border-color: var(--color-error);
}
.success{
	color: var(--color-success);
	border-color: var(--color-success);
}

form :first-child{
	margin-top: auto;
}
form :last-child{
	margin-bottom: auto;
}

.hidden{
	display: none;
}