/**************************************
 TITLE: strings.css					
 AUTHOR: Luxi Liao	(LL)	
 PURPOSE: to stylize the strings.html
 CREATE DATE: 04 October 2021
 LAST MODIFIED ON: 05 October 2021
 LAST MODIFIED BY: Luxi Liao (LL)	
 MODIFICATION HISTORY:
 October 04 2021 - Added basic format
    give page a basic look. (LL)	
 October 05 2021 - Attempting to add symbols to output area. (LL)	
***************************************/

/*Style of the entire page background*/
body{
    /*the background image comes from https://www.blackcatssvg.com/products/trust-me-im-a-pirate-svg-file-cutting-file-clipart-in-svg-eps-dxf-png-for-cricut-silhouette-pirate-ship-svg*/
    background-image: url(./Nuclear_Warships_formation.jpg);
    background-color: rgba(128, 128, 128, 0.4);
    background-size: 100%;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    align-items: center;
}

/*Class:The messages container*/
.container{
    height: 100%;
    width: 90%;
    margin: 0 auto;
    padding: 1%;

    background-color: rgba(128, 128, 128, 0.596);
    border-radius: 15px;
}
/*Class:The individual message of each ship*/
.holder{
    height: 80px;
    
}
.conversation{
    margin: 1%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(211, 211, 211, 0.671);
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(0,0, 0, 0.8);
}

img{
    height: 20px;
    width: auto;
}