/**************************************
 TITLE: buttons.css				
 AUTHOR: Luxi Liao	(LL)	
 PURPOSE: to define style of the multiWrites.html
 ORIGINALLY CREATED ON: 13 October 2021 
 LAST MODIFIED ON: 13 October 2021 
 LAST MODIFIED BY: Luxi Liao (LL)	
 MODIFICATION HISTORY:
 13 October 2021 - adjusting the layout with buttons. (LL)
 13 October 2021 - Writing the comment. (LL)
***************************************/


body {
    background-image: url(background.jpeg); 
    background-size: 100%; 
    background-color: rgba(255, 255, 255, 0.5); 
    background-blend-mode: lighten;
    background-repeat: no-repeat;
}
/*Class:The messages container*/
.container{
    height: 90%;
    width: 90%;
    margin: 0 auto;
    padding: 1%;
    
    background-color: rgba(128, 128, 128, 0.596);
    border-radius: 15px;
}
/*Class:The individual message*/
.message{
    margin: 1%;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    background-color: rgba(211, 211, 211, 0.671);
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(0,0, 0, 0.8);
}

/*apply for all buttons*/
button{
    display: inline-block;
}