/**************************************
 TITLE: moreIfs.css					
 AUTHOR: Luxi Liao	(LL)	
 PURPOSE: to stylize the conversions.html
 CREATE DATE: 28 September 2021
 LAST MODIFIED ON: 29 September 2021
 LAST MODIFIED BY: Luxi Liao (LL)	
 MODIFICATION HISTORY:
 29 September 2021 - Added basic format
    to make page aesthetically good. (LL)	
***************************************/

/*Style of the entire page background*/
body{
    /*the background image comes from https://www.blackcatssvg.com/products/trust-me-im-a-pirate-svg-file-cutting-file-clipart-in-svg-eps-dxf-png-for-cricut-silhouette-pirate-ship-svg*/
    background-image: url(./worldmap.jpeg);
    background-color: rgba(128, 128, 128, 0.4);
    background-size: 100%;
    background-blend-mode: lighten;
    background-repeat: no-repeat;

    align-items: center;
}

/*Class:The messages container*/
.container{
    height: 90%;
    width: 90%;
    margin: 0 auto;
    padding: 1%;

    background-color: rgba(128, 128, 128, 0.596);
    border-radius: 15px;
}
/*Class:The individual message of each ship*/
.holder{
    height: 50px;
}
.conversation{
    margin: 1%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(211, 211, 211, 0.671);
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(0,0, 0, 0.8);
}
.reply{
    margin: 1%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(211, 211, 211, 0.671);
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(186, 0, 0, 0.8);
}
