/*******************************
 TITLE: moversAndShakers.html		
 AUTHOR: Luxi Liao	(LL)	
 PURPOSE: Displaying a Page for jQuery to modify content
 ORIGINALLY CREATED ON: 05 November 2021 
 LAST MODIFIED ON: 05 November 2021 
 LAST MODIFIED BY: Luxi Liao (LL)	
 MODIFICATION HISTORY:
 05 November 2021 - Adding basic content 
 	Give the page a basic look (LL)
*********************************/





fieldset{
	border-radius: 5px;
	border-style: solid;
	border-color: black;
}
.animationconsole #controls { 
	width: 24%; 
	height: 650px; 
	padding: 4px;

	float: left; 
	background-color: lightgray; 

	border: 3px #666;
	border-style: solid;
	border-radius: 5px;
}

.animationconsole #actor {
	width: 100px;
	height: 100px;
	border: 3px solid rgb(78, 78, 78);
	border-radius: 50%;
	background-color: rgb(245, 245, 127);
	position: absolute;
	top: 250px;
	left: 250px;
	text-align: center;
	z-index: -1;
}

#box_text {  
	padding-top: 15px; 
}
.animationconsole #stage {  
	width: 73%; 
	height: 650px; 

	position: relative; 
	border-radius: 7px;
	margin-left: 26%; 
	border: 7px solid #333; 
	background-color: #fff; 
	
	z-index: -3; }
p.box_text {  padding-top: 15px; }

  /*Link buttons style*/
button{
	width:90%;
    display:block;
    color:#111;
    text-align:center;
    padding:4px;
    text-decoration:none;
}
button:hover, button:active{
    background-color:#777;
    border-radius: 6px;
}